button, div, form, input {
	margin: 5px;
}

img {
	max-width: 200px;
	max-height: 200px;
}

label {
    color: #fff;
}

.btn-default {
    color: hotpink;
    font-size: medium;
}

body {
	background-image: url("../images/draketears.png");
    font-family: 'Press Start 2P', cursive;
    background-repeat: no-repeat;
    background-size: cover;
}

.holder {
    float: left;
}

.jumbotron {
    text-align: center;
    background-image: url("../images/drakemillie.png");
    color: hotpink;
}



